.header {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.header-logo img {
 width: 130px;
}
.tab-content {
  display: flex;
  padding: 0;
  margin: 0;
}
ul.tab-content li {
  list-style: none;
  padding: 20px 25px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

ul li:hover{
  color: #1282a2;
  transform: translateX(4px);
}

.signIn-section a {
  cursor: pointer;
}