<div class="header">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">

      <div class="header-logo d-flex align-items-center">
        <a routerLink="/">
          <img src="images/JobPortal.png" alt="" />
        </a>
      </div>

      <div>
        <ul class="tab-content">
          <li routerLink="/jobs" routerLinkActive="active">Jobs</li>
          <li routerLink="/companies" routerLinkActive="active">Companies</li>
          <li routerLink="/services" routerLinkActive="active">Services</li>
        </ul>
      </div>
        @if(!user){
      <div class="signIn-section">
        <a class="border-end px-3" routerLink="/login">Sign In</a>
        <a class="px-3" href="">Employers/Post Job</a>
      </div>
      }
       @if(user){
      <div class="signIn-section d-flex align-items-center">
        <span class="px-3">Hi, {{ user.name }}</span>
        <a class="px-3 text-danger" (click)="logout()">Logout</a>
      </div>
    }
    </div>
  </div>
</div>
