/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Inter:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  color: #374151;
  background: #f8f9fa;
}

a {
  color: #1282a2;
  text-decoration: none;
}

h2{
  font-size: 1.5rem !important;
}

h3{
  font-size: 1.25rem !important;
}
h4{
  font-size: 1.125rem !important;
}
